<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> All stream
        <ul>
            {%for name, link in zipconten%}
                <li>{{item}}</li>
                <a href={{link}}>{{name}}</a> 
                {% for item in tim%}
                    <li>{{item}}</li>
                {% endfor %}
                
            {% endfor %}
            {% for item in tim%}
            <li>{{item}}</li>

            {% endfor %}
            
        </ul>
    </h1>
</body>

</html>